body {
  margin: 20px 40px;
  background-color: lightgoldenrodyellow;
}

a {
  text-decoration: none;
  color: darkcyan;
}

a:hover {
  text-decoration: none;
  color: cadetblue;
}

button {
  cursor: pointer;
}
